.nav_container {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  background: #161616;
}

.nav_item {
	text-transform: capitalize;
	color: gray;
	text-decoration: none;
	padding: 5px 10px;
	border-bottom: 3px solid transparent;
}

.nav_item_active {
	color: black;
	border-color: black;
}

.page {
	font-size: 24px;
	padding: 20px;
	text-align: center;
	text-transform: capitalize;
}